nav{
    padding: 1rem 8.2%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-nav{
    display: flex;
    align-items: center;
}

.logo-and-nav h1{
    cursor: pointer;
}

nav ul{
    margin: 0 1.5rem;
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #666565;
}

nav ul li a:hover{
    color: #1b1b1b;
}

.buttons button{
    background: none;
    padding: 0.7rem 2rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #666565;
    cursor: pointer;
}

.icon-bar{
    display: none;
}


/* RESPONSIVIDADE */

@media (max-width: 822px){
    .logo-and-nav h1{
        font-size: 1.2rem;
        cursor: pointer;
    }

    nav ul{
        font-size: 0.7rem;
    }

    .buttons button{
        font-size: 0.6rem;
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: 658px){
    nav ul{
        display: none;
    }

    .buttons{
        display: none;
    }

    .icon-bar{
        display: block;
    }
}