.container-shortenlink{
    width: 83%;
    margin-left: 8.5%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #392E52;
    background-position: initial;
    background-size:cover;
    background-repeat: no-repeat;
}

.container-shortenlink input{
    width: 85%;
    height: 3rem;
    margin: 0 1.5rem;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
}

.container-shortenlink button{
    width: 15%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #26CECC;
    color: white;
}

#content-link{
    margin: 2rem 7rem;
}

#content-link div{
    padding: 1rem 2rem;
    background: #EFF1F7;
    border-radius: 5px;
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-link h5{
    width: 75%;
    margin: 0 1rem;
    font-size: 17px;
}

#content-link h6{
    margin: 0 1rem;
    font-size: 17px;
}


#content-link button{
    padding: 0.5rem 2rem;
    background-color: #26CECC;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}